.pagination-buttons {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 200px;
}

.pagination-buttons > button {
  cursor: pointer;
  background-color: transparent;
}

#next-button {
  width: 9px;
  height: 19px;
  margin-left: 40px;
}

#next-button:disabled{
  pointer-events: none;
  opacity: 0.5;
}

#previous-button{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 40px;
}

#previous-button:disabled{
  pointer-events: none;
  opacity: 0.5;
}

.buttonFooter {
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.buttonFooter.selected{
  color: #CBD736;
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}