*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: nunito, sans-serif;
  
}

@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito"),
   url("./assets/fonts/static/Nunito-Regular.ttf") format("truetype");
 }

 .font-face-nunito {
  font-family: "Nunito-Regular";
}

.logo{ 
  display: flex;
  justify-content: center;
  padding-top: 38px;
  }

.container{
  background-image: url(./assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.pagination {
  display: grid;
  gap: 24px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

body {

  background-color: #000000;
}



.container-form {
  display: flex;
  justify-content: center;
  margin-top: 74px;
  margin-bottom: 101px;
}

button.font-face-nunito {
  margin-left: 16px;
}

input {
  height: 42px;
  width: 196px;
  border-radius: 8px;
  border: 2px solid #FFF;
  padding: 10px 14px 10px;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #9F9F9F;

}

.form > button {
  height: 42px;
  width: 84px;
  border-radius: 8px;
  border: 2px solid #FFF;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  transition-duration: 0.4s;
  cursor: pointer;
}

.form > button:hover {
  background-color: #64ac67; /* Green */
  color: white;
}

.form > button:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #ffffff;
  transform: translateY(4px);
}

